$body-background-color: #ffffff;
$sidebar-color: #f2f7f5;
$body-text-color: #26332f;
$body-heading-color: #173f35;
$nav-child-link-color: #38564e;
$link-color: #007833;
$btn-primary-color: #007833;
$base-button-color: #edf5f1;
$code-background-color: #f5f7f6;
$search-background-color: #ffffff;
$table-background-color: #ffffff;
$feedback-color: #e8f1ed;
